.labels-side-panel {
    margin-bottom: 30px;
}

.labels-side-panel .labels-list {
    margin-top: 1em;
}

.labels-side-panel .labels-new {
    margin-top: 1em;
    display: none;
}

.labels-side-panel div.spinner {
    padding-left: 15px;
}
