.rq-label {
    display: inline-block;
    margin-bottom: 5px;
    line-height: 1.3;
}

.rq-labels-table-header {
    min-width: 200px;
}

.rq-labels-side-panel {
    margin-bottom: 30px;
    white-space: normal;
}

.rq-labels-side-panel .rq-labels-list {
    margin-top: 1em;
}

.rq-labels-side-panel .rq-labels-button-edit {
    margin-top: -5px;
    margin-left: 5px;
    position: absolute;
}

body[data-aui-version^="5"] .rq-labels-side-panel .rq-labels-button-edit,
body[data-aui-version^="6.0"] .rq-labels-side-panel .rq-labels-button-edit,
body[data-aui-version^="7.6"] .rq-labels-side-panel .rq-labels-button-edit {
    margin-top: 0px;
}

.rq-labels-side-panel .rq-labels-edit-form {
    margin-top: 10px;
    display: none;
}

.rq-labels-side-panel .rq-labels-messages {
    margin-top: 20px;
}

.rq-labels-side-panel .rq-spinner {
    position: absolute;
    margin-left: -30px;
}

.aui-label.aui-label-closeable.rq-label .aui-icon-close {
    display: none;
}

.rq-editable .rq-label {
    cursor: pointer;
}

.rq-labels-side-panel.rq-editable .rq-labels-messages .rq-label,
.aui-label.aui-label-closeable.rq-label {
    padding-right: 5px;
}

.rq-labels-side-panel.rq-editable .rq-labels-button-edit {
    display: none;
}

.rq-labels-side-panel.rq-editable .aui-label.aui-label-closeable.rq-label .aui-icon-close {
    outline: none;
    display: inline;
}

.rq-labels-side-panel.rq-editable .aui-label {
    padding-right: 18px;
}

.rq-labels-side-panel.rq-editable .rq-labels-edit-form {
    display: block;
}

.rq-labels-icon-tag {
    margin-right: 5px;
    top: -1px;
}

body[data-aui-version^="7.6"] .rq-labels-icon-tag {
    top: 2px;
}

.rq-labels-icon-invalid-license {
    margin-left: 5px;
}

.rq-label .aui-icon.aui-icon-close {
    background: none;
}

.rq-label .aui-icon.aui-icon-close:after {
    content: "×";
    font-size: 16px;
    display: block;
    text-indent: 0;
    position: absolute;
    top: -4px;
    right: 0px;
}

.rq-labels-side-panel .rq-labels-select {
    width: 100%;
}

.aui-dropdown2.aui-style-default.rq-labels-select-dropdown {
    padding: 0;
}

.rq-labels-select-dropdown .select2-search {
    background-color: #f4f5f7;
    border-bottom: 1px solid #dfe1e6;
    padding: 10px;
    position: relative;
}

.rq-labels-select-dropdown.aui-select2-drop .select2-results .select2-result-label {
    padding: 5px 0 0 7px;
}

.rq-labels-select-dropdown .already-set {
    margin-bottom: 5px;
    word-wrap: break-word !important;
    line-height: 1.5;
    font-size: 12px;
}

.rq-labels-side-panel-tip {
  margin-top: 10px;
  color: #7a869a;
  font-size: 12px;
  font-style: italic;
  display: none;
}

#rq-label-color-picker .suggested-colors {
    width: 210px;
    margin-bottom: 10px;
}

#rq-label-color-picker .suggested-colors a {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
}

#rq-label-color-picker .rq-cancel {
  display: block;
  float: right;
  margin-top: 10px;
}

#rq-label-color-picker .rq-reset {
  display: block;
  float: left;
  margin-top: 10px;
}

#rq-label-color-picker .custom-color {
  display: block;
}
